importateur
Nom du navire

n@connaissement
port d'embarquement

product_uuid

Document correspondants 

connaissement original n°
lettre de garantie bancaire
facture fournisseur d'un montant de --
Facture fret et frais d'un montant de 
colisage
certificat d'assurance n°

Fri
License
sgsn
Divers
Exonération
Marché


Les Marchandises ont

Liste deroulante -- option [ Mettre a la consomation, mettre en entrepot fictif, mettre en admission tempoiraire, reexpedier a ...

Droitts et taxxes de douane a acquitter

par credit ou exoneration

Facture a libeller a l'ordre de 
adresse de livraison

Instruction particulieres 



numConnaiOriginal
navireName
numConnaissement
portDembarquement
factFounisseur
factFret
colisage
assurCertifNum
frie
sgsn
numLicense
exoneration
marche
marchandiseAction
expediteTo
droitCredit
exoneration
factAlibelle
note